.cube{
    position: absolute;
    top: 7vw;
    left: 17vw;
}

.cubes{
    position: absolute;
    bottom: 4vw;
    left: 11vw;
}

.stairs{
    position: absolute;
    top: 7vw;
    right: 13vw;
}

.pillar{
    position: absolute;
    bottom: 0vw;
    right: 23vw;
}

.vector{
    position: absolute;
    top: 0px;
    left: 14px;
    width: 98vw;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    .cube{
        position: absolute;
        top: 30vw;
        left: 9vw;
        height: 14vw;
    }
    
    .cubes{
        position: absolute;
        bottom: 4vw;
        left: 11vw;
        height: 15vw;
    }
    
    .stairs{
        position: absolute;
        top: 34vw;
        right: 0vw;
        height: 27vw;
    }
    
    .pillar{
        position: absolute;
        bottom: 0vw;
        right: 23vw;
        height: 15vw;
    }
    
    .vector{
        position: fixed;
        top: 0px;
        left: 14px;
        width: 98vw;
        height: 100%;
    }
}